.logo {
	position: relative;
	transform: scale(1) rotate(0deg);
	transition: transform .25s ease-in-out;
}
.logo:hover {
	 transition: opacity .15s ease-in;
	 transform: scale(1.2) rotate(180deg);
	 transition: transform .5s ease-in-out;
}
.TFW {
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% { color: teal; }
    50% { color: aquamarine; }
    100% { color: teal; }
}
@-moz-keyframes color-change {
    0% { color: teal; }
    50% { color: aquamarine; }
    100% { color: teal; }
}
@-ms-keyframes color-change {
    0% { color: teal; }
    50% { color: aquamarine; }
    100% { color: teal; }
}
@-o-keyframes color-change {
    0% { color: teal; }
    50% { color: aquamarine; }
    100% { color: teal; }
}
@keyframes color-change {
    0% { color: teal; }
    50% { color: aquamarine; }
    100% { color: teal; }
}

.heavy-box {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, .1);
}
.svgShadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0px 6px 15px rgba(0, 0, 0, .1) ); 
            filter: drop-shadow( 0px 6px 15px rgba(0, 0, 0, .1) );
}
.subtle-shadow {
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.05),0px 6px 15px rgba(0, 0, 0, 0.05);
}


.funny-link {
    color: #A0B7FD;
}
.body-color {
    color: #2A344E;
}
.sub-heading-color {
    color: #7F87A1;
}
.heading-color {
    color: #2A344E;
}
.highlight-color {
    background-color: #85EDC5;
}